---
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>My astroWill site</h1>
    <h2>About Me</h2>
    <h3>... and my Astro site!</h3>

    <p>I am working my way through my first tutorial with Astro.</p>
    <p>This site will become more interesting as I progress.</p>
  </body>
</html>
