---
import BaseLayout from '../layouts/BaseLayout.astro';
import Blogpost from '../components/Blogpost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'My Coding Blog ft. Life';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>
    A personal blog detailing my coding journey and the life that happens along
    the way.
  </h2>
  <hr />
  <ul>
    {
      allPosts.map((post) => (
        <Blogpost
          url={post.url}
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate.slice(0, 10)}
        />
      ))
    }
  </ul>
</BaseLayout>
