---
const pageTitle = 'astroWill';
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{pageTitle}</title>

    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>{pageTitle}</h1>
    <p>A personal site for Will Prouty</p>
  </body>
</html>
